* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

.home__content {
  display: flex;
  width: 100%;
}

.home__left {
  width: 5%;
  padding-bottom: 11.4%;
  background-color: #2d3b47;
  color: white;
  z-index: 30;
  text-align: center;
}

.home__left img {
  width: 100%;
  height: 100px;
}

.home__left .fa-user-circle {
  font-size: 50px;
  margin-top: 10px;
}

.select__Info .select__link {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1;
}

.home__left p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1;
}

.home__left .fa-tachometer-alt {
  font-size: 45px;
  margin-top: 10px;
}

.home__left .fa-book {
  font-size: 45px;
  margin-top: 10px;
}

.home__left .fa-calendar-alt {
  font-size: 45px;
  margin-top: 10px;
}

.home__left .fa-envelope-open-text,
.fa-clock,
.fa-info-circle {
  font-size: 45px;
  margin-top: 10px;
}

.home__middle {
  width: 80%;
  z-index: 10;
}

.home__middle h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.home__middle__listProduct {
  width: 90%;
  z-index: 10;
}

.middle__title__listProduct h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.home__middle h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-left: 80px;
  margin-top: 30px;
}

.middle__detail {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: left;
  flex-wrap: wrap;
}

.card {
  margin-right: 15px;
  margin-bottom: 15px;
}

.home__right {
  display: block;
  width: 15%;
}

.home__right .btn1 {
  margin-top: 30px;
  margin-left: 50px;
}

.home__right .btn2 {
  margin-top: 5px;
  margin-left: 50px;
  padding-right: 60px;
}

.select__Info {
  transition: all 0.8s;
}

.select__Info a {
  color: white;
}

.select__Info:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

body {
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
  /* z-index: -20; */
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

body {
  background: #f7f7ff;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.offcanvas-start {
  margin-left: 95px;
  z-index: 20;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 92%;
  margin: 0 auto;
}

.course__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
}
.list_item {
  list-style: none;
}

.list_item li {
  margin: 20px 0;
}

.list_item {
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 70px;
}

.middle__create__course{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.middle__detail__listProduct{    
    width: 95%;
    margin: 0 auto;
}

.middle__detail__home{
  border-left: 4px solid #2d3b47;  
}

h6.mb-0{
  margin-top: 10px;
}

h6{
 margin-top: 10px;
}

a.btn.btn-info{
  background-color: #0d6efd;
  color: #FFFFFF
}